<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="filter-outline"></ion-icon>
      <ion-label>menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>my list</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>conta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
