.menu1{
    border-radius: 100%;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.txt_menu{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.avatar_img{
    display: inline-block;
}