<ion-header>
  <ion-toolbar>
    <div class="menu">
      <ion-label class="txt_menu">MENU</ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div>
    <ion-toolbar>
      <ion-searchbar placeholder="Busque por produtos..."></ion-searchbar>
    </ion-toolbar>
  </div>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <div>
          <ion-img src="assets/tab2/img1tab2.png"> </ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/tab2/img2tab2.png"> </ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/tab2/img3tab2.png"> </ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/tab2/img4tab2.png"> </ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/tab2/img5tab2.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngFor="let p of menu">
    <ion-label>
    <ion-item>{{p.item}}</ion-item>
  </ion-label>
    <ion-img [src]="p.src"></ion-img>

  </ion-list>
<ion-card>
  <ion-card-header>

  </ion-card-header>
  <ion-card-content>

  </ion-card-content>
</ion-card>
</ion-content>
