<ion-content>
  <div class="item profilepic-border">
    <ion-label class="preview"> PREVIEW </ion-label>
    <ion-label class="new_wave"> NEW WAVE </ion-label>

    <ion-button class="botao" fill="clear"> SHOP NOW </ion-button>

    <ion-grid class="grid">
      <ion-row>
        <ion-col>
          <div>
            <ion-icon
              class="icone_home"
              [style.color]="'#D8D8D8'"
              name="remove-outline"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-icon
              class="icone_home1"
              [style.color]="'#fff'"
              name="remove"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-icon
              class="icone_home"
              [style.color]="'#D8D8D8'"
              name="remove-outline"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-icon
              class="icone_home"
              [style.color]="'#D8D8D8'"
              name="remove-outline"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-icon
              class="icone_home"
              [style.color]="'#D8D8D8'"
              name="remove-outline"
            ></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-img
      class="profilepic padding-bottom"
      src="assets/tab1/editorial_pic.png"
    ></ion-img>
  </div>

  <div class="text">
    <div>
      <ion-label>
        <div class="new">
          <span class="new_in"> NEW IN </span>
          <span class="ver_tudo"> Ver tudo </span>
        </div>
      </ion-label>
    </div>
  </div>
  <div class="box">
    <ion-img src="assets/tab1/rectangle_img3.png"></ion-img>
  </div>

  <div id="box2" class="box">
    <ion-img src="assets/tab1/rectangle_img2.png"></ion-img>
  </div>
  <div class="item profilepic-border">
    <ion-label class="preview"> PREVIEW </ion-label>
    <ion-label class="new_wave"> NEW WAVE </ion-label>

    <ion-button class="botao" fill="clear"> SHOP NOW </ion-button>
    <ion-img class="img10" src="assets/tab1/img4.png"></ion-img>
  </div>

  <div>
    <div class="new">
      <span class="new_in"> Vistos Recentemente </span>
      <span class="ver_tudo"> Limpar </span>
    </div>
  </div>

  <div class="box">
    <div>
      <ion-img src="assets/tab1/img5.png"></ion-img>
      <p>Camisa de ceda parka</p>
      <p>R$529</p>
      <p>5x105,80</p>
    </div>
  </div>

  <div id="box2" class="box">
    <div>
      <ion-img src="assets/tab1/img6.png"></ion-img>
      <p>Camisa de ceda parka</p>
      <p>R$529</p>
      <p>5x105,80</p>
    </div>
  </div>

  <p class="info">VOCÊ PODE CURTIR</p>
  <div class="box4">
    <div>
      <ion-img src="assets/tab1/img7.png"></ion-img>
      <p>Camisa de ceda parka</p>
      <p>R$529</p>
      <p>5x105,80</p>
    </div>
  </div>

  <div id="box2" class="box4">
    <div>
      <ion-img src="assets/tab1/img8.png"></ion-img>
      <p>Camisa de ceda parka</p>
      <p>R$529</p>
      <p>5x105,80</p>
    </div>
  </div>

  <ion-item-divider>
    <div class="icon_local">
      <div class="icon_teen">
        <ion-icon classs="location" name="location-outline"></ion-icon>
        <span>Encontre uma loja</span>
      </div>
      <ion-buttons slot="end">
        <ion-avatar>
          <ion-icon
            class="icon_maior"
            name="chevron-forward-outline"
          ></ion-icon>
        </ion-avatar>
      </ion-buttons>
    </div>
  </ion-item-divider>

  <ion-item-divider>
    <div class="icon_local2">
      <div class="icon_teen">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <span>Fale com um vendedor</span>
      </div>

      <ion-buttons slot="end">
        <ion-avatar>
          <ion-icon
            class="icon_maior"
            name="chevron-forward-outline"
          ></ion-icon>
        </ion-avatar>
      </ion-buttons>
    </div>
  </ion-item-divider>
</ion-content>
