.home{
    height:auto;
    width: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.preview{
    color: white;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Dibot-Bold;
    opacity: 1;
    letter-spacing: 4.67px;
    margin-top: 60%;
    position: absolute;
    
  

}
.new_wave{
    color: white;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    font-family: Dibot-Bold;
    opacity: 1;
    letter-spacing: 5.10px;
  position: absolute;
  margin-top: 40%;
   }
   .msg_container{
       display: block;
       margin-top: 70%;
   }
   .botao{
       border: 2px solid white;
       opacity: 1;
       font-family: FuturaBT-Medium;
       background-color: transparent;
       color: white;
       width: 80%;
       height: 35px;
       font-size: 20px;
       text-align: center;
       letter-spacing: 1;
       margin-top: 80%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left: 10%;
       position: absolute;

   }
.icone_home{
    
    font-size: 360%;
    margin-top: 30px;
    height: 50px;
    opacity: .5;
}
.icone_home1{
    font-size: 360%;
    margin-top: 30px;
    height: 50px;
}
.slide_home{
    display: inline-block;
}
.new{
    display:flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  margin-top: 10%;
}
.new_in{
    font-weight: bold;
   
}
.fotos_slide{
    display:inline-block;
    
}

.box {
    
    display: inline-flex;
    width: 192px;
    height: 256px;
    margin-left: 10px;
    margin-top: 10%;
    
}
#box2{
    margin-left: 10px;
}

#box3{
    margin-left: 10px;
}
.box4{
    
    display: inline-flex;
    width: 192px;
    height: 256px;
    margin-left: 10px;
    margin-top: 5%;
}
.home2{
    height:auto;
    width: 90% ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
   
}
.img10{
    margin-top: 15%;
}
.info{
    margin-top: 30%;

}
.icon_local{
    margin-top: 30%;
    font-size: 35px;
    display: flex;
    justify-content: space-between;

}
.icon_local{

    width: 100%;
    
    
}
.icon_local2{
    margin-top: 30%;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position:relative;
    top: -50%;
}
.icon_teen{
  margin-left: 5%;
  margin-right: 5%;
   span {
        font-size: 50%;
        margin-bottom: 30px;
        position: relative ;
        top: -10px;
        left: 10%;

    }
}
.location{
    font-size: 10px;
    
    position: relative;
    left: 20%;
  
}
.icon_maior{
    margin-left: 5%;
    
    
}
.battery{
    margin-left: 5%;
    margin-right: 5%;
     span {
          font-size: 50%;
          margin-bottom: 30px;
          position: relative ;
          top: -10px;
          left: 10%;
  
      }
    }
    .profilebutton {
        z-index: 2;
        position: absolute;
        left: 22%;
        top: 8%;
        margin: auto;
    }
    .profilepic {
      border:1px solid #000;
      width: 100%;
      height: 65%;
    }
    .profilepic-border {
    display: flex;
    justify-content: center;
    align-items: center;
      
    }
    .grid {
     
      
     top: 70%;
        position: absolute;
        
        }
        .text{
            margin-top: 20%;
        }